.wrapper {
  background-color: #f2f4f7;
  margin-bottom: 3rem;
}
.wrapper .head {
  padding-left: 0.6rem;
  background-color: #fff;
}
.wrapper .head h1 {
  font-size: 0.4rem;
}
.wrapper .head span {
  font-size: 0.35rem;
}
.wrapper .head p {
  font-size: 0.46933rem;
  color: #f40;
  margin-top: 0.2rem;
  padding-bottom: 0.3rem;
}
.wrapper .main-message {
  background-color: #fff;
  padding-left: 0.6rem;
}
.wrapper .main-message h3 {
  padding-top: 0.2rem;
  margin-bottom: 0.3rem;
}
.wrapper .main-message .people {
  display: flex;
  align-items: center;
}
.wrapper .main-message .people .people-detail {
   display: inline-block;
   margin-left: 0.2rem;
   height: 1.5rem;
   line-height: 0.75rem;
 }
.wrapper .main-message .people .people-detail p {
  margin: 0;
}
.wrapper .main-message .people img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  vertical-align: top;
}
